<h1>Listado de Mensajes de Twitter</h1>

<%= form_for(@tweet, :url => "user") do |f| %>
  <div class="field">
    <%= f.label :usuario_twitter %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit "Ver ultimo Tweet" %>
  </div>
<% end %>


<%= form_for(@tweet, :url => "read_text") do |f| %>
   <div class="field">
		<%= f.label :status %><br />
		<%= f.text_field :status %>
	</div>
	
  <div class="actions">
    <%= f.submit "Mostrar Tweet" %>
  </div>
<% end %>
<br />

<%= form_for(@tweet) do |f| %>
  <% @tweet.message = @tweet.index %>
  
  <div class="field">
    <%= f.label :Tweet %><br />
    <%= f.text_field :message %>
  </div>
	
  <div class="actions">
    <%= f.submit "Agendar Tweet"%>
  </div>
<% end %>
<br />

<ul id="container">
	<% @tweets.each do |tweet| %>
		<li>  
			<%= tweet.message%>
		</li>
	<% end %>
</ul>

				





